html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-size: xx-large;
}

.list {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.list .item{
    display: inline-block;
    color: silver; 
    transition: .5s;
    filter: brightness(0);
}

.list .item:hover{
    display: inline-block; 
    transition: .5s;
    color: silver;
    filter: brightness(4);
    transform: translateZ(50px);
}

.list .item:hover + *{
    filter: brightness(0.6);
    transform: translateZ(50px) rotateY(40deg);

}
.list .item:hover + * + *{
    filter: brightness(0.4);
    transform: translateZ(40px) rotateY(80deg);

}

.list .item:has(+ *:hover){
    filter: brightness(0.4);
    transform: translateZ(40px) rotateY(-40deg);

}

.list .item:has(*+ *:hover){
    filter: brightness(0.4);
    transform: translateZ(40px) rotateY(-80deg);

}

h1 {
    display: inline-block; 
    transition: .5s;
    color: silver;
    filter: brightness(4);
}


