*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #e8842d;

}


.frame span{

    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: baseline;
    text-align: center;

    font-size: 4vw;
    font-weight: 700;
    padding: 0 3vw;
    

}

.frame{
    height: 5vw;
    position: relative;
    z-index: 2;
    overflow: hidden;
    

}

#circle{
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 3vw;
    transform: translate(-50% , -50%);
    width: 3vw;
    border-radius: 50%;
    background-color: rgba(137, 43, 226, 0.632);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

#text{


    display: flex;
    align-items: center;
    justify-content: baseline;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    color: #000;

}
